// variables.scss
$primary: #7164b4;
$secondary: #efe2fa;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light-purple": #efe2fa
);

$font-family-base: "Noto Sans TC", sans-serif;
$border-radius: 0.5rem;
$body-bg: #fff;